body{
    font-family:Arial;
    text-align:center;
    background:#f2f2f2;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.gallery img{
    width:250px;
    border-radius:10px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.1);
}